.footer {
    color: white;
    text-align: center;
    background-color: rgb(36, 41, 46);
    padding: .5rem 0;

    a {
        color: white;
        font-weight: bolder;
        transition: all .3s ease-in;
        &:hover {
            text-decoration: none;
            color: rgb(209, 209, 209);
        }
    }
}
